  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* { margin: 0; padding: 0; font-weight: normal;}

body {
  background-color: ghostwhite;
  color: rgb(40, 40, 40);
  font-family: 'Roboto';
  text-align: center;
  line-height: 1.25;
}

aside {
  padding: 1vh 1vh;
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
aside > div {
  background-color: rgb(40, 40, 40);
  border-radius: 9px;
  color: ghostwhite;
  text-align: left;
  padding: 3vh 3vh;
}
aside > div > h1 {margin-top: 1vh;}

main > div {
  background-color: royalblue;
  padding: 7vh 0;
  color: ghostwhite;
}
main > div > aside > div {
  text-align: center;
}
main > div > a {
  color: ghostwhite;
}

article {
  padding: 8vh 1vh;
}
article > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 3vh auto 5vh;
}
article > div > div {
  background-color: white;
  border-radius: 9px;
  box-shadow: 5px 5px 5px gray;
  margin: 0 2vh 2vh 0;
  width: 320px;
  padding: 3vh;
}
.apply {
  background-color: white;
  border-radius: 9px;
  box-shadow: 5px 5px 5px gray;
  margin: 2vh auto;
  max-width: 700px;
  padding: 3vh;
}

#coding {
  background-color: royalblue;
  box-shadow: 5px 5px 5px gray;
  color: azure;
}
#coding a, #coding h2 {color: azure;}

#testin {
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  color: royalblue;
}

#curr {
  padding: 9vh 0;
}
#wdev {
  box-shadow: 5px 5px 5px royalblue;
  background-color: white;
  border-radius: 9px;
  max-width: 400px;
  margin: 3vh auto;
  padding: 4vh 2vh;
}
#swe {
  box-shadow: 5px 5px 5px gray;
  background-color: rgb(40, 40, 40);
  border-radius: 9px;
  max-width: 400px;
  margin: 3vh auto;
  padding: 4vh 2vh;
  color: azure;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('img/code3.jpg');
  background-size: cover;
  padding: 0 0 22vh 0;
  color: ghostwhite;
}
.sharp {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/group.jpg');  
  background-size: cover;
  background-position: bottom;  
  
}
.sharp2 {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/pairpgmg.jpg');
  background-size: cover;
  background-position: top;
}
.shdiv {
  max-width: min(600px, 60vw);
  padding: 10vw 0 0 6vw;
  min-height: 60vh;
  text-align: left;
  color: azure;
}

nav {
  text-align: right;
  margin-bottom: 15vh;
  padding: 7px;
}
nav > img {
  padding-top: 5px;
  float: left;
}
nav a {
  padding-right: 8px;
  line-height: 1;
  color: ghostwhite;
  /* text-transform: uppercase; */
}

footer {
  padding: 1vh 0 9vh;
  background-color: rgb(40, 40, 40);
}
footer p {
  color: royalblue;
}

a {
  line-height: 2.5;
  text-decoration: none;
  color: royalblue;
}
a:hover {
  text-decoration: underline;
}

button {
  background-color:royalblue;
  border-radius: 9px;
  border: none;
  color: ghostwhite;
  padding: 0.5em 1.5em;
}
button:hover {
  background-color: green;
}

input {
  border-radius: 9px;
  border: 1px solid royalblue;
  padding: 0.4em 1em;
  max-width: 200px;
}

h1 {font-size: min(8vw, 40px); padding-bottom: 0.5em; font-weight: bold;}
h2 {font-size: min(6vw, 30px); padding-bottom: 0.25em;}
h3 {font-size: min(5vw, 22px); padding-bottom: 0.25em; font-weight: bold;}
h4 {font-size: min(5vw, 22px); padding-bottom: 0.25em; line-height: 1.5;}
h5 {font-size: min(5vw, 20px); padding-bottom: 0.25em; line-height: 1.5;}
p, a {font-size: min(4vw, 18px);}
svg, img {height: 30px;}