@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* { margin: 0; padding: 0; font-weight: normal;}

body {
  background-color: ghostwhite;
  color: rgb(40, 40, 40);
  font-family: 'Roboto';
  text-align: center;
  line-height: 1.25;
}
/* section = parent to aside, article, or div */
section {padding: 9vh 0;}
/* aside = grid parent container */
aside {
  padding: 1vh 1vh;
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
/* article = flex parent container */
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 3vh auto 5vh;
}
/* standard grid child */
aside > div {
  background-color: rgb(40, 40, 40);
  border-radius: 9px;
  color: ghostwhite;
  text-align: left;
  padding: 3vh 3vh;
}
aside > div > h1 {margin-top: 1vh;}
/* standard flex child */
article > div {
  box-shadow: 5px 5px 5px gray;
  background-color: white;
  border-radius: 9px;
  margin: 1vh;
  width: 320px;
  padding: 3vh;
}
article > div > p {margin-bottom: 1vh; font-weight: 400;}

.bluesection {background-color: royalblue; color: ghostwhite;}
.bluesection > a {color: ghostwhite;}
.bluesection > aside > div {text-align: center;}

.apply {
  background-color: white;
  border-radius: 9px;
  box-shadow: 5px 5px 5px gray;
  margin: 2vh auto;
  max-width: 700px;
  padding: 2vh;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
}
.apply > div {
  align-self: center;
  text-align: left;
}
.apply > div > h3 {display: inline;}
.apply svg {color: royalblue;}

#coding {
  background-color: royalblue;
  color: white;
}
#coding h2 {color: royalblue; background-color: white; padding: 0.25em; border-radius: 9px; margin: 0 20px 20px 20px;}
#coding a {color: white;}

#testin {color: royalblue;}
#testin h2 {color: white; background-color: royalblue; padding: 0.25em; border-radius: 9px; margin: 0 20px 20px 20px;}

#swe {
  background-color: rgb(40, 40, 40);
  color: ghostwhite;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('img/code3.jpg');
  background-size: cover;
  color: ghostwhite;
  padding: 0;
}
.hero > div {padding: 15vh 0 19vh;}
.hero > div > img {height: auto; width: min(320px, 70vw);}

.sharp {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/group.jpg');  
  background-size: cover;
  background-position: bottom;  
}
.sharp2 {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/pairpgmg.jpg');
  background-size: cover;
  background-position: top;
}
.shdiv {
  max-width: min(600px, 70vw);
  padding: 1vh 0 0 6vw;
  min-height: 60vh;
  text-align: left;
  color: ghostwhite;
}

#courses > h1 {color: royalblue; margin-bottom: 5vh;}
.widediv {padding: 9vh 2vw 0;}
.widediv > div {
  box-shadow: 5px 5px 5px gray;
  background-color: white;
  border-radius: 9px;
  max-width: 840px;
  margin: 3vh auto;
  padding: 2vh;
}
.widediv > div > h5 {text-align: left; margin: 2vh 0;}

details {margin: 2vh 0;}
details summary {cursor: pointer; color:royalblue;}
details div {text-align: left; padding: 0vh 0vw 2vh;}
details div h3 {margin-top: 2vh;}

#coursemap {
  width: min(400px, 90vw);
  height: auto;
  padding: 3vh;
  margin: 0 auto;
  border-radius: 9px;
  background-color: rgb(40, 40, 40);
}

nav {
  text-align: right;
  padding: 1vh 1vh 1vh 0;
}
nav > div {
  float: left;
}
nav a {
  padding-right: 1vw;
  line-height: 1;
  color: ghostwhite;
}

footer {
  background-color: rgb(40, 40, 40);
  padding: 1vh 0 9vh;
  color: ghostwhite;
}

a {
  line-height: 2.5;
  text-decoration: none;
  color: royalblue;
}
a:hover {color: gold;}

button {
  background-color:royalblue;
  border-radius: 9px;
  border: none;
  color: ghostwhite;
  padding: 0.5em 1.5em;
}
button:hover {
  background-color: green;
}

table {max-width: 400px; margin: 0 auto;}

input {
  border-radius: 9px;
  border: 1px solid royalblue;
  padding: 0.4em 1em;
  max-width: 200px;
}

ul {margin: 0 5vw;}

h1 {font-size: min(8vw, 40px); padding-bottom: 0.5em; font-weight: bold;}
h2 {font-size: min(6vw, 30px); padding-bottom: 0.25em;}
h3 {font-size: min(5vw, 22px); padding-bottom: 0.25em; font-weight: bold;}
h4 {font-size: min(5vw, 22px); padding-bottom: 0.25em; line-height: 1.5;}
h5 {font-size: min(4.5vw, 20px); padding-bottom: 0.25em; line-height: 1.5;}
h6 {font-size: min(4.5vw, 20px); text-decoration:line-through; line-height: 1.5;}
p {font-size: min(4vw, 18px); font-weight: 300;}
a {font-size: min(3.5vw, 18px);}
svg, img {height: 30px;}
#finance img {height: 70px;}